body {
  display:flex;
  justify-content: center;
}
form {
  font-size: 2em;
}
.form-group {
  display:flex;
  justify-content: row;
margin:2em;
}
input {
  width:50%;
  font-size: 20px;
}
input[type=submit] {
  width: 60%;
  padding:10px;
}
